@using SparqlForHumans.Models
@inherits EntityComponentBase

<div style="border:1px solid black;">
    <h1>@Header</h1>
    @*<input type="text"  bind="@TestValue" onkeypress="@KeyHandler"  />*@
    <button onclick="@addProperty">Add</button>
    <button onclick="@removeProperty">Remove</button>
    <input bind="@TestValue" onblur=@KeyHandler />

    @if (properties != null)
    {
        foreach (var property in properties)
        {
            <PropertyField Title="@property.Id" />
        }
    }
</div>

@functions
{

//int TestValue { get; set; }
//void KeyHandler(UIKeyboardEventArgs ev)
//{
//    if (ev.Key.CompareTo("+") == 0)
//        TestValue++;
//    else if (ev.Key.CompareTo("-") == 0)
//        TestValue--;
//}

string TestValue { get; set; }

void KeyHandler()
{
    TestValue = TestValue.ToUpper();
}

}
