@inherits EntityComponentBase

@using SparqlForHumans.Models

<div style="border:1px solid black;">
    <div>

    </div>
    @if (SelectedEntity != null)
    {
    <div style="margin: 3px">
        <div>Label: @SelectedEntity.Label</div>
        <div>Id: @SelectedEntity.Id</div>
    </div>
    }
</div>


@*<div style="border:1px solid black;">
    <h1>@Header</h1>
    <button onclick="@addProperty">Add</button>
    <button onclick="@removeProperty">Remove</button>
    <input bind="@TestValue" onblur=@KeyHandler />

    @if (properties != null)
    {
        foreach (var property in properties)
        {
            <PropertyField Title="@property.Id" />
        }
    }
</div>*@
